---
const pageTitle = 'Sobre Mi'

const identify = {
	firstName: 'Marco',
	country: 'Mexico',
	occupation: 'Estudiante',
	hobbies: ['Bailar', 'Comer', 'Coding', 'Dibujar', 'Americano'],
};

const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Typescript', 'Git'];

const happy = true;
const finished = false;
const goal= 3;
const goal2= 2;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ pageTitle }</title>
	</head>
	<body>
        <div>
			<a href="/">Incio</a>
			<a href="/about">About</a>
			<a href="/blog">Blog</a>
		</div>

		<h1>{ pageTitle }</h1>
        <br>
		<spam><b>Un poco sobre mi ...</b></spam>
		<ul>
			<li>Me llamo {identify.firstName}</li>
			<li>Vivo en {identify.country} y soy {identify.occupation}</li>
			{identify.hobbies.length >= 2 &&
				<li>Dos de mis hobbies son: {identify.hobbies[0]}, {identify.hobbies[1]} y {identify.hobbies[2]}</li>
			}
		</ul>
		
		<spam><b>Mis habilidades son: </b></spam>
		<ul>
			{skills.map(skill =>
				<li>{skill}</li>
			)}
		</ul>
		
		<spam><b>Mis habilidades son: </b></spam>
		
		{happy && <p>Estoy Feliz por aprender Astro</p>}
		{!happy && <p>Estoy Feliz por aprender Astro</p>}

		{finished && <p>He temrinado el tutorial de Astro</p>}
		{!finished && <p>He temrinado el tutorial de Astro</p>}
		
		{goal === 3 ? <p>Mi objetiivo es temrinar en 3 dias</p> : <p>No cumpli mi obejtivo de 3 dias</p>}
	</body>
</html>